<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Urzędnika</title>
    <link rel="stylesheet" href="../styles.css">
    <link rel="stylesheet" href="urzednik.css">

</head>
<body>
<header class="header">Panel Urzędnika</header>

<div class="container">
    <h2>Lista wniosków do przyjęcia</h2>
    <table>
        <thead>
        <tr>
            <th>Imię Podatnika</th>
            <th>Nazwisko Podatnika</th>
            <th>Nazwa Wniosku</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody id="wnioskiList">
        <!-- Wnioski będą dynamicznie wstawiane tutaj -->
        </tbody>
    </table>
</div>
<footer class="footer">
    <p>&copy; 2025 Kawecki,Kroczek,Kujbida,Witkowski</p>
</footer>
<script src="urzednik.js"></script>
</body>
</html>
