<!DOCTYPE html>
<html lang="pl"       xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.bet.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Urzędnika</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}"/>
    <link rel="stylesheet" th:href="@{/css/urzednik.css}"/>
    <script async src="/js/urzednik.js"></script>
</head>
<body>
<header class="header">Panel Urzędnika <b>Urząd Skarbowy w <span th:text="${miejscowosc}"></span></b></header>
<div class="container">
    <h2>Lista wniosków do przyjęcia</h2>
    <table>
        <thead>
        <tr>
            <th>Imię Podatnika</th>
            <th>Nazwa pliku</th>
            <th>Status Wniosku</th>
            <th>Komentarz</th>
            <th>Akcje</th>
        </tr>
        </thead>
        <tbody id="wnioskiList">
        <tr th:each="wniosek  : ${wnioski}">
            <td th:text="${wniosek.uzytkownik.login} ?: 'Brak imienia'"></td>
            <td ><a th:href="@{'http://localhost:5555/api/wnioski/pliki/' + ${wniosek.fileName}}" th:text="${wniosek.fileName}"></a></td>
            <td th:text="${wniosek.status}"></td>
            <td th:text="${wniosek.komentarzDoWniosku} ?: 'Brak komentarza'"></td>
            <td>

                <button class="accept-btn" th:data-wniosek-id="${wniosek.wniosekId}">Zaakceptuj</button>
                <button class="reject-btn" th:data-wniosek-id="${wniosek.wniosekId}">Odrzuć</button>

            </td>
        </tr>
        <tr th:if="${#lists.isEmpty(wnioski)}">
            <td colspan="4">Brak wniosków do wyświetlenia.</td>
        </tr>
        </tbody>
    </table>
</div>
<footer class="footer">
    <p>&copy; 2025 Kawecki,Kroczek,Kujbida,Witkowski</p>
</footer>

</body>
</html>
