<!DOCTYPE html>
<html lang="pl"
      xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.bet.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Administrator Urzędu Skarbowego - Error Page</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />
</head>
<body>
<header>Nie znaleziono!</header>
<section class="container">
    <a href="/login">Przejdz do strony logowania</a>
</section>
<footer class="footer">
    <p>&copy; 2025 Kawecki,Kroczek,Kujbida,Witkowski</p>
</footer>
</body>
</html>