/* Styl dla kontenera */
.container {
    display: flex;
    justify-content: space-between;
    max-width: 900px;
    margin: 15vh auto;
    padding: 20px;
    background-color: var(--secondary-color);
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* Styl dla listy użytkowników */
.user-list {
    width: 45%;
}

.user-list h2 {
    color: var(--dark-color);
    text-align: center;
}

#search {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

#userList {
    list-style: none;
    padding: 0;
}

#userList li {
    background-color: var(--secondary-color);
    margin: 5px 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 4px;
}

#userList button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 4px;
}

#userList button:hover {
    background-color: darkred;
}

/* Styl dla formularza dodawania użytkownika */
.add-user {
    width: 45%;
}

.add-user h2 {
    color: var(--dark-color);
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 5px 0;
    color: var(--dark-color);
}

input, select, button {
    padding: 8px;
    margin: 5px 0;
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

button {
    background-color: var(--primary-color);
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--accent-color);
}

.dropdown-list {
    border: 1px solid #ccc;
    max-height: 200px;
    overflow-y: auto;
    margin-top: 5px;
    padding: 0;
    list-style: none;
}

.dropdown-list li {
    padding: 5px;
    cursor: pointer;
}

.dropdown-list li:hover {
    background-color: #f0f0f0;
}

