<!DOCTYPE html>
<html lang="pl"       xmlns:th="http://thymeleaf.org"
      xmlns:layout="http://www.ultraq.bet.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Panel Podatnika</title>
    <link rel="stylesheet" th:href="@{/css/styles.css}" />

    <link rel="stylesheet" th:href="@{/css/podatnik.css}">
</head>
<body>
<header class="header">Panel Podatnika</header>

<div class="container">
    <h2>Wgraj nowy wniosek</h2>
    <form id="uploadForm">
        <label for="imie">Imię:</label>
        <input type="text" id="imie" required>

        <label for="nazwisko">Nazwisko:</label>
        <input type="text" id="nazwisko" required>

        <label for="wniosekPlik">Wybierz plik PDF:</label>
        <input type="file" id="wniosekPlik" accept="application/pdf" required>

        <button type="submit">Wyślij wniosek</button>
    </form>
</div>
<footer class="footer">
    <p>&copy; 2025 Kawecki,Kroczek,Kujbida,Witkowski</p>
</footer>
<script src="podatnik.js"></script>
</body>
</html>
