/* Zmienne kolorów */
:root {
    --primary-color: #6D8196; /* Szaro-niebieski */
    --secondary-color: #ADCCED; /* Jasny niebieski */
    --accent-color: #546373; /* Średnio ciemny niebieski */
    --dark-color: #36404A; /* Ciemny niebieski */
}

/* Styl całej strony */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--dark-color);
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* Aby cała strona była co najmniej wysokości ekranu */
}


/* Nagłówek formularza */
h2 {
    text-align: center;
    color: var(--dark-color);
    margin-bottom: 20px;
    font-size: 24px;
}


/* Komunikaty o błędach */
.error {
    color: red;
    font-size: 14px;
    text-align: center;
}

/* Styl stopki sticky */
.footer {
    background-color: var(--accent-color);
    color: white;
    text-align: center;
    padding: 10px 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
